*

!/.git
!/vcpkg
/vcpkg/vcpkg
/vcpkg/buildtrees
/vcpkg/downloads
/vcpkg/packages

!/c++-boost-lmdb/CMakeLists.txt
!/c++-boost-lmdb/vcpkg.json
!/c++-boost-lmdb/vcpkg-configuration.json
!/c++-boost-lmdb/src
!/c++-boost-lmdb/vcpkg-triplets/
!/c++-boost-lmdb/cmake-toolchains/

!/c++-boost-ipc-lmdb/CMakeLists.txt
!/c++-boost-ipc-lmdb/vcpkg.json
!/c++-boost-ipc-lmdb/vcpkg-configuration.json
!/c++-boost-ipc-lmdb/src
!/c++-boost-ipc-lmdb/vcpkg-triplets/
!/c++-boost-ipc-lmdb/cmake-toolchains/

!/c++-haproxy-mongoose-lmdb/CMakeLists.txt
!/c++-haproxy-mongoose-lmdb/vcpkg.json
!/c++-haproxy-mongoose-lmdb/vcpkg-configuration.json
!/c++-haproxy-mongoose-lmdb/src
!/c++-haproxy-mongoose-lmdb/vcpkg-triplets/
!/c++-haproxy-mongoose-lmdb/cmake-toolchains/

!/c++-drogon-lmdb/CMakeLists.txt
!/c++-drogon-lmdb/vcpkg.json
!/c++-drogon-lmdb/vcpkg-configuration.json
!/c++-drogon-lmdb/src
!/c++-drogon-lmdb/vcpkg-triplets/
!/c++-drogon-lmdb/cmake-toolchains/
